// ----------------------- MOBILE -----------------------

.header {
  // display
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // indents
  padding-top: 22px;
}

.header__logo {
  // indents
  margin-left: 116px;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.header__delivery {
  // display
  display: none;
}

.header__title {
  // borders
  border-top: 1px solid #ececec;
  // size
  width: 100%;

  &--main {
    // indents
    padding: 70px 30px 122px;
    // background
    background-color: #fff;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 20%;
  }
  &--catalog,
  &--form {
    // indents
    padding: 70px 30px 75px;
    // background
    background-color: #f1f1f1;
  }
}

.header__text {
  // font
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000;
}

@media #{$retina} {
  .header__title--main {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 180%;
  }
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .header {
    // indents
    padding-top: 0;
  }

  .header__logo {
    // indents
    margin-top: 22px;
    margin-left: 48px;
  }

  .header__delivery {
    // display
    display: block;
    order: 4;
    // indents
    margin-right: 50px;
    padding-top: 18px;
    // font
    font-size: 15px;
    line-height: 24px;
    color: #444;
  }

  .header__title {
    // display
    order: 5;
    // position
    position: relative;
    top: -70px;
    z-index: -1;
    // indents
    margin-bottom: -70px;

    &--main {
      // indents
      padding: 153px 50px 485px;
      // background
      background-color: #fff;
      background-image: url("../img/hero-tablet@1x.jpg");
      background-size: 1150px 746px;
    }
    &--catalog, &--form {
      // indents
      padding: 93px 30px 80px;
    }
  }

  .header__text {
    // font
    font-size: 43px;
    line-height: 50px;
  }

  @media #{$retina} {
    .header__title--main {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 180%;
    }
  }

}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  .header__delivery {
    // indents
    margin-right: 48px;
  }

  .header__title {
    // position
    top: -42px;
    // indents
    margin-bottom: -42px;

    &--main {
      // indents
      padding: 153px 50px 478px;
      // background
      background-color: #fff;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-size: 1250px 746px;
    }
    &--catalog, &--form {
      // indents
      padding-bottom: 103px;
    }
  }

  .header__logo {
    // display
    order: 1;
    // indents
    margin-top: 8px;
    margin-left: 0;
    margin-right: 28px;
  }

  .header__text {
    // font
    font-size: 53px;
    line-height: 57px;
  }

  @media #{$retina} {
    .header__title--main {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 180%;
    }
  }

}
