// ----------------------- MOBILE -----------------------

.menu-toggle {
  // positioning
  position: absolute;
  right: 25px;
  top: 27px;
  // reset browser settings
  appearance: none;
  outline: none;
  border: none;
  background: none;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .menu-toggle {
    // display
    display: none;
  }

}
