// ----------------------- MOBILE -----------------------

.menu-toggle {
  // reset browser settings
  appearance: none;
  outline: none;
  border: none;
  background: none;
  // indents
  margin-top: 5px;
  margin-bottom: 26px;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .menu-toggle {
    // display
    display: none;
  }

}
