// ----------------------- MOBILE -----------------------

.menu__item {
  // indents
  padding: 27px 30px;
  // borders
  border-top: 1px solid #ececec;
  // background
  background-color: #fff;

  &--new, &--sale {
    // display
    display: none;
  }
}

.menu__link {
  // display
  display: flex;
  align-items: center;
  // positioning
  position: relative;
  // font
  font: bold 17px/24px "Open Sans", "Tahoma", sans-serif;
  text-decoration: none;
  color: #000;

  &:hover {
    opacity: 0.6;
  }

  &:hover .menu__icon {
    opacity: 1;
    fill: #63d1bb;
  }

  &:active,
  &:active .menu__icon {
    opacity: 0.3;
  }
}

.menu__icon {
  // positioning
  position: absolute;
  // stylization
  opacity: 0.2;
}

.menu__text {
  // indents
  margin-left: 45px;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .menu {
    // indents
    padding: 0 50px;
    // borders
    border-bottom: 1px solid #dfdfdf;
  }

  .menu__list {
    // display
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .menu__item {
    // display
    display: block;
    // indents
    padding: 32px 0;
    // borders
    border: none;
    // background
    background: none;

    &--catalog {
      // indents
      margin-right: 35px;
    }

    &--order {
      // indents
      margin-right: 17px;
    }

    &--search {
      // indents
      padding: 32px 31px;
      margin-right: 31px;
    }

    &--catalog, &--order {
      // position
      position: relative;
      top: 74px;
    }

    &--search {
      // borders
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }

    &--new, &--sale {
      // display
      display: none;
    }
  }

  .menu__link {

    &--catalog, &--order {
      // font
      font-size: 15px;
    }
  }

  .menu__icon {

    &--search, &--cart {
      // positioning
      position: static;
    }
  }

  .menu__text {

    &--catalog, &--order {
      // indents
      margin: 0;
    }

    &--cart {
      // indents
      margin-left: 30px;
    }

    &--search {
      // display
      display: none;
    }
  }
}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  .menu {
    // position
    position: relative;
  }

  .menu__item {
    // indents
    padding: 31px 0 33px;

    &--catalog, &--order {
      // position
      position: static;
    }

    &--order {
      //indents
      padding-left: 37px;
      margin-right: 325px;
      // borders
      border-left: 1px solid #ececec;
    }

    &--search {
      // indents
      padding: 32px 31px;
    }

    &--new, &--sale {
      // display
      display: block;
      // position
      position: absolute;
      top: 75px;
    }

    &--new {
      // position
      left: 51px;
    }

    &--sale {
      // position
      left: 270px;
    }
  }

  .menu__link {

    &--catalog, &--order {
      // font
      font-size: 17px;
    }

    &--new, &--sale {
      // font
      font-size: 15px;
    }
  }

  .menu__text {

    &--new, &--sale {
      // indents
      margin: 0;
    }
  }
}
