// ----------------------- MOBILE -----------------------

html {
  overflow-x: hidden;
}


body {
  // indents
  margin: 0 auto;
  // size
  width: 320px;
  // font
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-weight: normal;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  body {
    // size
    width: 768px;
  }

}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  body {
    // size
    width: 1150px;
  }

}
