// ----------------------- MOBILE -----------------------

.contacts {
  // indents
  padding: 35px 30px 40px 28px;
}

.contacts__title {
  // indents
  margin: 0 0 11px 0;
  // font
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.contacts__icon {
  // display
  display: none;
}

.contacts__table {
  // indents
  margin: 0 0 22px 0;
}

.contacts__type,
.contacts__value {
  // indents
  padding: 15px 0;
  // font
  font-size: 15px;
  line-height: 30px;
  vertical-align: top;
  color: #444;
}

.contacts__type {
  // size
  width: 78px;
}

.contacts__email {
  // indents
  padding-bottom: 4px;
  // borders
  border-bottom: 1px solid #62d1ba;
  // font
  text-decoration: none;
  color: #444;

  &:hover {
    // font
    color: #86d3c6;
  }

  &:active {
    // stylization
    opacity: 0.3;
  }
}

.contacts__address {
  // font
  font-style: normal;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .contacts {
    // position
    position: relative;
    // indents
    padding: 62px 50px 57px;
  }

  .contacts__title {
    // indents
    margin-bottom: 33px;
    margin-left: -4px;
    // font
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__icon {
    // display
    display: block;
    // position
    position: absolute;
    top: 47px;
    right: 53px;
  }

  .contacts__table {
    // indents
    margin-bottom: 41px;
  }

  .contacts__row {
    // display
    display: inline-block;
    // size
    width: 50%;
    // font
    vertical-align: top;
  }

  .contacts__type,
  .contacts__value {
    // font
    font-size: 17px;
  }

}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  .contacts {
    // indents
    padding: 142px 50px 105px 226px;
  }

  .contacts__title {
    // font
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__icon {
    // position
    top: 133px;
    left: 115px;
  }

  .contacts__table {
    // size
    width: 300px;
    // indents
    margin-bottom: 65px;
  }

  .contacts__row {
    // display
    display: table-row;
  }

}
