// ----------------------- MOBILE -----------------------

.map {
  // display
  display: block;
  // position
  position: relative;
  // size
  width: 320px;
  height: 457px;
  // indents
  margin: 0 -28px 39px -28px;
}

.map__image {
  // display
  display: block;
}

.map__pin {
  // positioning
  position: absolute;
  top: 164px;
  left: 124px;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .map {
    // size
    width: 768px;
    // indents
    margin: 0 -50px 55px;
  }

  .map__pin {
    // positioning
    left: 348px;
  }

}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  .map {
    // position
    position: absolute;
    top: 71px;
    right: 48px;
    // size
    width: 525px;
    // indents
    margin: 0;
  }

  .map__pin {
    // positioning
    top: 166px;
    left: 237px;
  }

}
