// ----------------------- MOBILE -----------------------

.reviews {
  // indents
  padding: 16px 30px 44px;
}

.reviews__title {
  // indents
  margin: 0 0 23px 0;
  // font
  font: bold 25px/30px 'Open Sans', 'Tahoma', sans-serif;
  color: #000;
}

.reviews__text {
  // indents
  margin: 0 0 28px 0;
  // font
  font: normal 15px/30px 'Open Sans', 'Tahoma', sans-serif;
  color: #444;
}

.reviews__author-name {
  // display
  display: inline-block;
  // indents
  margin: 0 0 3px 0;
  // font
  font: bold 17px/24px 'Open Sans', 'Tahoma', sans-serif;
  color: #000;
}

.reviews__author-username {
  // display
  display: inline-block;
  // indents
  margin: 0 0 30px 0;
  // font
  font: normal 17px/30px 'Open Sans', 'Tahoma', sans-serif;
  color: #444;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .reviews {
    // position
    position: relative;
    // indents
    padding: 78px 49px 85px;
    // background
    background-color: #fff;
    background-image: url('../img/review@1x.jpg');
    background-repeat: no-repeat;
  }

  .reviews__title {
    // indents
    margin-left: -4px;
    margin-bottom: 49px;
    // font
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__quote {
    // display
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    // indents
    margin-bottom: 57px;
    // font
    font-size: 17px;
  }

  .reviews__author-name {
    // font
    font-size: 18px;
  }

  @media #{$retina} {
    .reviews {
      background-image: url('../img/review@2x.jpg');
      background-size: 350px 457px;
    }
  }

}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  .reviews {
    // indents
    padding: 71px 150px 130px 174px;
    margin-left: 52px;
  }

  .reviews__title {
    // indents
    margin-left: -4px;
    // font
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    // indents
    margin-bottom: 40px;
  }

  .reviews__author-name {
    // font
    font-size: 17px;
  }

  @media #{$retina} {
    .reviews {
      background-image: url('../img/review@2x.jpg');
      background-size: 350px 457px;
    }
  }

}
