// ----------------------- MOBILE -----------------------

.catalog {
  // display
  display: flex;
  flex-direction: column;
  align-items: center;
  // indents
  padding: 15px 0;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .catalog {
    // indents
    padding: 54px 0 27px;
  }

}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  .catalog {
    // display
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    // indents
    padding: 129px 51px 33px 49px;
  }

}
