// ----------------------- MOBILE -----------------------

.video {
  // position
  position: relative;

  &:hover .video__text-container {
    // shadow
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.1);
  }

  &:active .video__text-container {
    // shadow
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
}

.video__player-container {
  // display
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  // position
  position: absolute;
  top: 96px;
  left: 30px;
}

.video__text-container {
  // indents
  padding: 0 0 32px 0;
  margin: 3px 30px 58px;
  // borders
  outline: 1px solid #ececec;
}

.video__title-container {
  // display
  display: flex;
  align-items: center;
  // indents
  padding: 25px 35px 23px;
  margin-bottom: 177px;
}

.video__icon {
  // display
  flex-shrink: 0;
}

.video__title {
  // indents
  margin-left: 23px;
  // font
  font: bold 17px/24px "Open Sans", "Tahoma", sans-serif;
  color: #000;
}

.video__play-button {
  // reset browser settings
  appearance: none;
  border: none;
  background: none;
  outline: none;
  // position
  position: absolute;
  top: 50%;
  left: 50%;
  // transform
  transform: translate(-50%, -50%);

  &:hover {
    // transform
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    // transform
    transform: translate(-50%, -50%) scale(0.8);
    // stylization
    opacity: 0.3;
  }
}

.video__desc {
  // indents
  padding: 0 34px;
  margin: 0 0 25px 0;
  // font
  font: normal 13px/24px "Open Sans", "Tahoma", sans-serif;
  color: #444;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .video {
    // display
    display: flex;
    flex-direction: column;
  }

  .video__player-container {
    // size
    width: 668px;
    height: 455px;
    // position
    position: relative;
    top: 0;
    left: 0;
    // indents
    margin-left: 50px;
  }

  .video__text-container {
    // indents
    padding-top: 34px;
    padding-bottom: 45px;
    margin: 0 50px 64px;
    // borders
    outline: 1px solid #ececec;
  }

  .video__title-container {
    // indents
    padding: 0 42px;
    margin-bottom: 28px;
  }

  .video__title {
    // indents
    margin-left: 32px;
    // font
    font-size: 20px;
  }

  .video__desc {
    // indents
    padding: 0 40px;
    margin-bottom: 35px;
    // font
    font-size: 15px;
    line-height: 30px;
  }
}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  .video {
    // display
    flex-direction: row;
    align-items: flex-start;
    // indents
    margin: 0 50px 104px;

    &:hover .video__text-container {
      // shadow
      box-shadow: 6px 0px 10px 0px rgba(0,0,0,0.1);
    }

    &:active .video__text-container {
      // shadow
      box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.1);
    }
  }

  .video__text-container {
    // display
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    // size
    height: 453px;
    // indents
    padding: 0;
    padding-left: 78px;
    margin: 0;
  }

  .video__player-container {
    // size
    width: 682px;
    height: 455px;
    // indents
    padding: 0;
    margin: 0;
  }

  .video__title-container, .video__desc {
    // size
    width: 230px;
  }

  .video__title-container {
    // display
    flex-direction: column;
    align-items: flex-start;
    // indents
    padding: 0;
    margin-top: 41px;
    margin-bottom: 33px;
  }

  .video__icon {
    // indents
    margin-bottom: 22px;
  }

  .video__title {
    // indents
    margin: 0;
  }

  .video__desc {
    // indents
    padding: 0;
    margin-bottom: 46px;
  }
}
