// ----------------------- MOBILE -----------------------

.fieldset {
  // indents
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;

  &--phone, &--email {
    // indents
    margin-bottom: 27px;
  }

  &--message {
    // indents
    margin-bottom: 0;
  }
}

.fieldset__wrapper {
  // display
  display: flex;
  flex-direction: column;
}

.fieldset__title {
  // font
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}

.fieldset__list {
  // display
  display: flex;
  flex-direction: column;
  // indents
  padding: 15px 0;

  &--type {
    padding: 37px 0 8px;
  }

  &--color {
    padding: 27px 0 0;
  }

  &--name {
    padding: 17px 0 10px;
  }

  &--phone {
    padding: 20px 0 6px;
  }

  &--email {
    padding: 20px 0 6px;
  }

  &--message {
    padding: 24px 0 16px;
  }
}

.fieldset__item {
  // display
  display: flex;
  // size
  min-height: 36px;


  &--type, &--color, &--phone, &--email {
    // display
    align-items: center;
  }

  &--type {
    margin-bottom: 15px;
  }

  &--color {
    margin-bottom: 25px;
  }

  &--name {
    // display
    flex-direction: column;
    // indents
    margin: 10px 0;
  }

  &--phone, &--email {
    // position
    position: relative;
  }
}

.fieldset__label {
  // position
  position: relative;
  // font
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000;

  &--type, &--color {
    // indent
    margin-left: 62px;
  }

  &--type::before, &--color::before {
    // display
    content: "";
    // position
    position: absolute;
    left: -62px;
    top: -11px;
    // size
    height: 35px;
    // borders
    border: 2px solid #444;
  }

  &--color::before {
    // size
    width: 36px;
  }

  &--type::before {
    // size
    width: 35px;
    // borders
    border-radius: 50%;
  }

  &--type:hover::before, &--color:hover::before {
    // borders
    border-color: #74d6c2;
  }

  &--type:active::before, &--color:active::before {
    // borders
    border-color: #c7c7c7;
  }
}

.fieldset__input {

  &--type, &--color {
    // display
    display: none;
  }

  &--type {
    &:checked + label::before {
      // background
      background: url(../img/icon-circle.svg) center center no-repeat;
      background-size: 16px;
      padding: 0;
    }
  }

  &--color {
    &:checked + label::before {
      // background
      background: url(../img/icon-tick.svg) center center no-repeat;
      background-size: 23px;
    }
  }

  &--name, &--phone, &--email, &--message {
    // reset browser settings
    border: none;
    background: none;
    outline: none;
    // size
    width: 100%;
    // font
    font-size: 17px;
    line-height: 18px;
    color: #444;
    // borders
    border-bottom: 2px solid #000;

    &:hover, &:focus {
      // borders
      border-color: #62d1ba;
    }
  }

  &--name {
    // indents
    padding: 16px 0;
    margin-bottom: 2px;
  }

  &--phone, &--email {
    // indents
    padding-bottom: 17px;

    &:hover + .fieldset__icon,
    &:focus + .fieldset__icon {
      // stylization
      opacity: 1;
      // background
      fill: #62d1ba;
    }
  }

  &--message {
    // size
    min-height: 110px;
    // indents
    padding: 14px;
    // borders
    border: 2px solid #000;
  }
}

.fieldset__icon {
  // position
  position: absolute;
  right: 3px;
  top: 0;
  // stylization
  opacity: 0.2;
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .fieldset {
    // indents
    margin: 0;

    &--color, &--phone, &--email {
      background-color: #f1f1f1;
    }
  }

  .fieldset__wrapper {
    // display
    display: flex;
    flex-direction: row;
  }

  .fieldset__title {
    // size
    min-width: 167px;
    // indents
    padding-top: 67px;
    padding-left: 50px;

    &--email {
      // indents
      padding-top: 24px;
    }
  }

  .fieldset__list {

    &--color {
      // display
      flex-direction: row;
      flex-wrap: wrap;
    }

    &--type, &--color {
      // indents
      padding-top: 55px;
      padding-bottom: 20px;
    }

    &--name, &--phone, &--email, &--message {
      // size
      min-width: 500px;
    }

    &--name {
      // indents
      padding-top: 38px;
      padding-bottom: 40px;
    }

    &--phone {
      // indents
      padding-top: 38px;
      padding-bottom: 18px;
    }

    &--email {
      // indents
      padding-top: 16px;
      padding-bottom: 50px;
    }

    &--message {
      // indents
      padding-top: 50px;
      padding-bottom: 62px;
    }
  }

  .fieldset__item {

    &--type, &--color {
      // indents
      margin-bottom: 40px;
    }

    &--color {
      // size
      width: 262px;
    }

    &--name {
      // display
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // indents
      margin: 9px 0;
    }
  }

  .fieldset__label {
    // font
    font-size: 19px;
    line-height: 18px;

    &--type::before, &--color::before {
      // position
      left: -81px;
      top: -15px;
      // size
      height: 48px;
      width: 48px;
    }

    &--color::before {
      // size
      width: 50px;
    }

    &--type, &--color {
      // indent
      margin-left: 81px;
    }

    &--name {
      // indents
      margin-right: 25px;
    }
  }

  .fieldset__input {

    &--type {
      &:checked + label::before {
        // background
        background-size: 21px;
      }
    }

    &--color {
      &:checked + label::before {
        // background
        background-size: 34px;
      }
    }

    &--name, &--phone, &--email, &--message {
      // font
      font-size: 19px;
    }

    &--name {
      // indents
      padding: 17px 17px 15px;
    }

    &--phone {
      // indents
      padding: 25px 17px 14px;
    }

    &--email {
      // indents
      padding: 5px 17px 13px;
    }
  }

  .fieldset__icon {
    // position
    right: 22px;

    &--phone {
      top: 22px;
    }
  }

}


// ----------------------- DESKTOP -----------------------


@media #{$desktop-widths} {

  .fieldset__title {
    // size
    min-width: 115px;
    // indents
    padding-top: 70px;
    padding-left: 110px;
  }

  .fieldset__list {

    &--type, &--color {
      // indents
      padding-top: 57px;
      padding-bottom: 20px;
    }

    &--name, &--phone, &--email, &--message {
      // size
      min-width: 700px;
    }

    &--name {
      // indents
      padding-top: 36px;
      padding-bottom: 40px;
    }

    &--message {
      // indents
      padding-bottom: 58px;
    }
  }

  .fieldset__title {

    &--email {
      // indents
      padding-top: 25px;
    }
  }

  .fieldset__icon {
    &--phone {
      // position
      right: 4px;
      top: 23px;
    }
    &--email {
      // position
      right: 4px;
      top: 4px;
    }
  }

}
