.hidden {
  display: none;
}

.not-inline-1 {
  position: absolute;
  width: 320px;
  top: 77px;
  left: 0;
  padding: 0;
  z-index: 5;
}

.not-inline-2 {
  position: absolute;
  width: 320px;
  top: 235px;
  left: 0;
  padding: 0;
  z-index: 5;
}
