// ----------------------- MOBILE -----------------------

.sizes {
  // display
  display: flex;
  justify-content: space-between;
  // size
  width: 260px;
  // indents
  margin: 0 auto 30px;
  // stylization
  list-style: none;
  list-style-image: url(data:0);
}

.sizes__item {
  // display
  display: flex;
  align-items: center;
  justify-content: center;
}

.sizes__radio {
  // display
  display: none;

  &:checked + .sizes__text {
    // border
    border-color: #62d1ba;
  }
}

.sizes__text {
  // display
  flex-shrink: 0;
  // size
  width: 78px;
  // indents
  padding: 16px 0;
  // borders
  border: 2px solid #ececec;
  // font
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  color: #444;
  // stylization
  cursor: pointer;

  &:hover {
    // border
    border-color: #c7c7c7;
  }
}


// ----------------------- TABLET -----------------------


@media #{$tablet-widths} {

  .sizes {
    // size
    width: 347px;
    // indents
    margin: 0 auto 31px;
  }

  .sizes__text {
    // size
    width: 107px;
  }

}
