.button {
  @include button-behavior;
  @include use-font(17px, 20px, 'OpenSansBold');
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $button-default;
  width: 256px;
  height: 50px;
  &--order {
    width: 185px;
  }
}



@media #{$tablet-widths} {

  .sale .button {
    width: 290px;
  }

  .reviews .button {
    order: 2;
    margin-top: 80px;
    width: 175px;
  }

  .contacts .button {
    width: 230px;
    margin: 0 auto;
  }

  .info .button {
    width: 230px;
  }

  .video .button {
    width: 100%;
  }

}



@media #{$desktop-widths} {

  .contacts .button {
    margin: 70px 0 0;
  }

  .info .button {
    margin-left: 175px;
  }

  .video .button {
    width: 230px;
  }

}
