.categories {
  margin: 0 -30px;
}

.categories__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories__item {
  background-color: #63d1bb;
  &--dark {
    background-color: #56c3b2;
  }
}

.categories__item {
  &:hover .categories__icon {
    opacity: 0.7;
  }
  &:active .categories__text,
  &:active .categories__icon {
    opacity: 0.3;
  }
}

.categories__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
  text-decoration: none;
  padding: 0 30px;
}

.categories__text {
  @include use-font(19px, 24px, 'OpenSansBold', #ffffff);
  width: 150px;
}

.categories__icon {
  width: 60px;
  opacity: 0.5;
  fill: #149080;
}



@media #{$tablet-widths} {

  .categories {
    position: absolute;
    width: 668px;
    top: -125px;
    margin: 0;
  }

  .categories__list {
    height: 125px;
    flex-direction: row;
    align-items: flex-end;
  }

  .categories__item {
    flex-grow: 1;
  }

  .categories__text {
    font: normal 20px "OpenSansBold", "Tahoma", sans-serif;
    line-height: 30px;
  }

  .categories__text,
  .categories__icon {
    padding-bottom: 10px;
  }

  .categories__link {
    height: 120px;
  }

  .categories__item:hover {
    padding-top: 5px;
  }

  .categories__item:hover .categories__text,
  .categories__item:hover .categories__icon {
    margin-bottom: 5px;
  }

}



@media #{$desktop-widths} {

  .categories {
    width: 1050px;
  }

}
