.contacts {
  padding: 15px 0 30px;
}

.contacts__title {
  @include use-font(18px, 30px, 'OpenSansBold', #000000);
}

.contacts__table {
  border-collapse: collapse;
}

.contacts__row td {
  @include use-font(15px, 30px, 'OpenSans');
  padding: 15px 0;
  vertical-align: top;
}

.contacts__name {
  width: 70px;
}

.contacts__email {
  text-decoration: none;
  padding: 3px;
  color: #444444;
  border-bottom: 1px solid #62d1ba;
  &:hover {
    color: #62d1ba;
  }
  &:active {
    opacity: 0.3;
  }
}

.contacts__address {
  font-style: normal;
}

