.contacts {
  padding: 15px 0 30px;
}

.contacts__title {
  @include use-font(18px, 30px, 'OpenSansBold', #000000);
}

.contacts__icon {
  display: none;
}

.contacts__table {
  border-collapse: collapse;
}

.contacts__row td {
  @include use-font(15px, 30px, 'OpenSans');
  padding: 15px 0;
  vertical-align: top;
}

.contacts__name {
  width: 70px;
}

.contacts__email {
  text-decoration: none;
  padding: 3px;
  color: #444444;
  border-bottom: 1px solid #62d1ba;
  &:hover {
    color: #62d1ba;
  }
  &:active {
    opacity: 0.3;
  }
}

.contacts__address {
  font-style: normal;
}



@media #{$tablet-widths} {

  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
  }

  .contacts__icon {
    display: block;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .contacts__table {
    width: 100%;
    margin: 20px 0;
  }

  .contacts__row {
    display: inline-block;
    width: 300px;
    margin-right: 30px;
    vertical-align: top;
  }

  .contacts__row td {
    font-size: 17px;
  }

}
