.extra-nav {
  display: none;
}



@media #{$desktop-widths} {

  .extra-nav {
    display: block;
    position: absolute;
    height: 60px;
    left: 50px;
    top: 90px;
  }

  .extra-nav__list {
    display: flex;
    justify-content: space-between;
    width: 320px;
    list-style: none;
    padding: 0;
  }

  .extra-nav__link {
    text-decoration: none;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }

  .extra-nav__text {
    font: normal 15px "OpenSansBold", "Tahoma", sans-serif;
    line-height: 24px;
    color: #000000;
  }

}
