.field {
  display: flex;
  align-items: center;
  width: 260px;
  margin: 20px 0;
  &--data-input {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.field__subtitle {
  @include use-font(17px, 19px, 'OpenSansBold', #000000);
  width: 220px;
  margin-left: 20px;
  &--top {
    margin: 0;
  }
}

.field__check {
  position: relative;
  flex-shrink: 0;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid $button-default;
  outline: none;
  &--radio {
    border-radius: 50%;
  }
  &--box:checked {
    background: url(../../img/icon-tick.svg) center center no-repeat;
    background-size: 24px;
  }
  &--radio:checked {
    background: url(../../img/icon-circle.svg) center center no-repeat;
    background-size: 20px;
  }
}

.field__text {
  @include use-font(17px, 18px, 'OpenSans', #000000);
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 2px solid $button-default;
  background-color: none;
  height: 50px;
  outline: none;
  &:hover + .field__icon,
  &:focus + .field__icon {
    opacity: 1;
    fill: #62d1ba;
  }
}

.field__icon {
  position: absolute;
  align-self: flex-end;
  opacity: 0.2;
}

.field__message {
  @include use-font(17px, 18px, 'OpenSans', #000000);
  width: 260px;
  box-sizing: border-box;
  padding: 15px;
  border: 2px solid $button-default;
  outline: none;
}

.field__check,
.field__text,
.field__message {
  &:hover {
    border-color: #62d1ba;
  }
}

.field__text,
.field__message {
  &:focus {
    border-color: #62d1ba;
  }
}

.field__check {
  &:active {
    border-color: #c7c7c7;
  }
}



@media #{$tablet-widths} {

  .field {
    margin: 10px;

    &--type {
      width: 100%;
    }

    &--color {
      width: 220px;
    }

    &--data-input {
      flex-direction: row;
      position: relative;
      align-items: center;
      width: 100%;
    }
  }

  .field__check {
    width: 50px;
    height: 50px;

    &--box:checked {
      background-size: 30px;
    }

  }

  .field__subtitle {
    width: auto;
    font-size: 19px;
    line-height: 18px;
  }

  .field__text {
    width: 100%;
    font-size: 19px;
    background: none;

    &--name {
      margin-left: 25px;
    }

  }

  .field__icon {
    align-self: center;
    right: 0;
  }

  .field__message {
    font-size: 19px;
    width: 100%;
  }

}



@media #{$desktop-widths} {

  .field {
    margin: 10px 20px;

    &--type {
      width: 100%;
    }

    &--color {
      width: 220px;
    }

    &--data-input {
      width: 700px;
    }
  }

}
