.main-nav {
  width: 100%;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  border-top: 1px solid $separate-line;
}

.main-nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.main-nav__icon {
  position: absolute;
}

.main-nav__text {
  @include use-font(17px, 24px, 'OpenSansBold', #000000);
  margin-left: 45px;
}

.main-nav__link {
  &:hover .main-nav__icon {
    fill: #63d1bb;
  }
  &:active .main-nav__icon {
    fill: #63d1bb;
    opacity: 0.3;
  }
  &:hover .main-nav__text {
    opacity: 0.6;
  }
  &:active .main-nav__text {
    opacity: 0.3;
  }
}
