.main-nav {
  width: 100%;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  border-top: 1px solid $separate-line;
}

.main-nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.main-nav__icon {
  position: absolute;
  opacity: 0.2;
  width: 20px;
}

.main-nav__text {
  @include use-font(17px, 24px, 'OpenSansBold', #000000);
  margin-left: 45px;
}

.main-nav__link {
  &:hover .main-nav__icon {
    fill: #63d1bb;
    opacity: 1;
  }
  &:active .main-nav__icon {
    fill: #63d1bb;
    opacity: 0.3;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}



@media #{$tablet-widths} {

  .main-nav {
    position: absolute;
    width: 100%;
    top: 90px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }

  .main-nav__item {
    border: none;
    width: auto;
  }

  .main-nav__link {
    width: auto;
  }

  .main-nav__icon {
    position: static;
  }

  .main-nav__item--catalog,
  .main-nav__item--order {
    height: 60px;
  }

  .main-nav__item--search,
  .main-nav__item--cart {
    position: relative;
    top: -90px;
    height: 90px;
  }

  .main-nav__item--catalog,
  .main-nav__item--order,
  .main-nav__item--cart {
    padding: 0;
  }

  .main-nav__text--catalog,
  .main-nav__text--order {
    font: normal 15px "OpenSansBold", "Tahoma", sans-serif;
    line-height: 24px;
    margin: 0;
  }

  .main-nav__item--search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .main-nav__text--search {
    display: none;
  }

  .main-nav__text--cart {
    margin-left: 30px;
  }

}



@media #{$desktop-widths} {

  .main-nav {
    top: 0;
  }

  .main-nav__item--catalog {
    border-right: 1px solid #ececec;
  }

  .main-nav__item--order {
    flex-grow: 1;
    margin-left: 35px;
  }

  .main-nav__item--catalog,
  .main-nav__item--order {
    height: 90px;
    width: 185px;
  }

  .main-nav__item--cart {
    margin-left: 35px;
  }

  .main-nav__item--search,
  .main-nav__item--cart {
    top: 0;
  }

  .main-nav__text {
    font-size: 17px;
  }

}
