.menu-toggle {
  display: block;
  position: absolute;
  align-self: flex-end;
  border: none;
  outline: none;
  background: none;
  margin-right: 30px;
  cursor: pointer;
}



@media #{$tablet-widths} {

  .menu-toggle {
    display: none;
  }

}
