.product {
  border: 1px solid $separate-line;
  margin-top: 30px;
  &:hover .product__data {
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.1);
  }
}

.product__data {
  display: block;
  padding: 25px 25px 0;
}

.product__name {
  @include use-font(17px, 24px, 'OpenSansBold', #000000);
  @include link-behavior;
  text-decoration: none;
}

.product__params {
  @include use-font(13px, 30px, 'OpenSans');
  margin: 0;
  padding: 10px 0 15px;
}

.product__buy-panel {
  border-top: 1px solid $separate-line;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.product__price {
  @include use-font(15px, 24px, 'OpenSansBold', #000000);
}

.product__buy-link {
  &:hover .product__buy-icon {
    fill: #63d1bb;
  }
  &:active .product__buy-icon {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.product__buy-icon {
  fill: #d3d2d2;
}



@media #{$tablet-widths} {

  .product {
    display: flex;
    height: 335px;
    margin-top: 50px;
  }

  .product__picture {
    width: 335px;
    height: 100%;
    flex-shrink: 0;
  }

  .product__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
    width: 100%;
  }

  .product__name {
    font-size: 20px;
  }

  .product__params {
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
  }

}
