.sale {
  padding: 30px 0;
}

.sale__title {
  @include use-font(25px, 30px, 'OpenSansBold', #000000);
  margin: 0;
  padding-bottom: 5px;
}

.sale__subtitle {
  @include use-font(17px, 20px, 'OpenSansBold', #63d1bb);
  text-transform: uppercase;
}

.sale__desc {
  @include use-font(15px, 24px, 'OpenSans');
}

.sale__price {
  @include use-font(17px, 24px, 'OpenSansBold');
  text-align: center;
}



@media #{$tablet-widths} {

  .sale {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 0 50px;
  }

  .sale__title {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 30px;
  }

  .sale__subtitle {
    position: absolute;
    width: 75px;
    top: 50px;
    right: 25px;
    text-align: center;
    line-height: 17px;
  }

  .sale__desc {
    font-size: 17px;
    line-height: 30px;
    width: 290px;
  }

  .sale__price {
    font-size: 20px;
    width: 290px;
    padding: 10px 0;
  }

  .sale__image {
    position: absolute;
    top: 140px;
    right: 0;
    width: 330px;
    height: 400px;
  }

}
