.separator {
  display: none;
  height: 17px;
  background: url('../../img/wavy-line.png') repeat-x;
}

@media #{$tablet-widths} {

  .separator {
    display: block;
    margin: 0 -50px;
    width: 768px;
  }

}
