.separator {
  display: none;
}



@media #{$tablet-widths} {

  .separator {
    display: block;
    margin: 0 -50px;
    width: 768px;
    height: 17px;
    background: url('../../img/wavy-line.png') repeat-x;
  }

}



@media #{$desktop-widths} {

  .separator {
    display: block;
    margin: 0;
    width: 1050px;
    height: 23px;
    background: url('../../img/wavy-line-desktop.png') repeat-x;
  }

}
